* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colours */
:root {
  --black: #000000;
  --black-menu: #101010;
  --grey-back: #1c1c1c;
  --grey-card: #161616;
  --grey-card-over: #2a2a2a;
}

body {
  color: whitesmoke;
}

.col-2,
.col-10 {
  height: 100vh;
}

.sidebar {
  background-color: var(--black-menu);
}

img {
  width: 100px;
}

.logo {
  margin: 10px;
}

.coral {
  background-color: lightcoral;
}